<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div>
        <label>{element.title}</label>
        <f:if condition="{entity.values.{element.uid}}">
            <f:then>
                <f:variable name="ele_val" value="{entity.values.{element.uid}}" />
                <f:form.textarea name="element_values[{element.uid}]" >{ele_val.value}</f:form.textarea>
            </f:then>
            <f:else>
                <f:form.textarea name="element_values[{element.uid}]" value=""></f:form.textarea>
            </f:else>
        </f:if>
    </div>
</html>